body {
    text-align: center;
}

.titulo-animado {
    animation: mudar-cor 4s infinite;
    text-align: center;
}

/* Define a animação */
@keyframes mudar-cor {
    0% {
        color: blue;
    }
    33% {
        color: red;
    }
    66% {
        color: purple;
    }
    100% {
        color: blue;
    }


h1{
    font-size: 22px;
}
#subtitulo{color: chocolate;}  
.texto{
    color: darkgoldenrod;
}     
#principal p{
    font-weight: 900;
}

